# Core Streamlit and dependencies
streamlit
blinker
watchdog

# Google and Cloud Services
google-auth
google-auth-oauthlib
google-api-python-client
google-generativeai
google-cloud-secret-manager
google-cloud-translate
google-cloud-speech
google-cloud-aiplatform

pygments
mdurl
markdown-it-py
rich

# Data and Scientific Computing
pandas
numpy
scipy
plotly
scikit-learn

# Machine Learning and AI
tensorflow
tensorflow-hub
langchain

# Utility Libraries
pytz
requests
beautifulsoup4

# Multimedia and Audio Processing
sounddevice
youtube-transcript-api
gTTS
pyttsx3
soundfile
SpeechRecognition
audio-recorder-streamlit
wave==0.0.2

# Document Processing
faiss-cpu
PyPDF2
python-docx==1.1.0

# Misc
streamlit-calendar==0.7.0
importlib-metadata==7.0.2
